<% @title="Home" %>
<h1>Campaign Content</h1>
<ul>
<li><%= link_to "Characters", characters_path %>
<li><%= link_to "Wiki Pages", pages_path %>
</ul>

<h1>The Active d20 Modern System Reference Document</h1>
<ul>
<li><%= link_to "Armors", armors_path %>
<li><%= link_to "Classes", modern_classes_path %>
<li><%= link_to "Races", races_path %>
<li><%= link_to "Skills", skills_path %>
</ul>
