<% @title=@page.title %>
<p id="notice"><%= notice %></p>
<p>
<%= link_to 'Home', :root %> |
<%= link_to 'Index', pages_path %> |
<%= link_to 'New Page', new_page_path %> |
<%= link_to 'Edit', edit_page_path(@page) %>
</p>
<h1><%= @page.title %></h1>
<p>
<%= raw(@content) %>
</p>

<hr>
