<%= form_for(@character) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :is_hero %><br />
    <%= select("character", "is_hero", [true, false]) %>
  </div>

  <div class="field">
    <%= f.label :race %><br />
    <%= collection_select(:character, :race_id, Race.all, :id, :name, :prompt => true)
    %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

    <%= f.label :starting_str, 'STR' %>
    <%= f.text_field :starting_str, :size => 3, :max_length => 2 %>

    <%= f.label :starting_dex, 'DEX' %>
    <%= f.text_field :starting_dex, :size => 3, :max_length => 2 %>

    <%= f.label :starting_con, 'CON' %>
    <%= f.text_field :starting_con, :size => 3, :max_length => 2 %>

    <%= f.label :starting_int, 'INT' %>
    <%= f.text_field :starting_int, :size => 3, :max_length => 2 %>

    <%= f.label :starting_wis, 'WIS' %>
    <%= f.text_field :starting_wis, :size => 3, :max_length => 2 %>

    <%= f.label :starting_cha, 'CHA' %>
    <%= f.text_field :starting_cha, :size => 3, :max_length => 2%>

  <table>
  <%= f.fields_for(:character_levels) do |builder| %>
  <%= render 'level_fields', :f => builder, :c => @character %>
  <% end %>
  </table>

  <div class="field">
    <%= f.label :armor %><br />
    <%= collection_select(:character, :armor_id, Armor.all, :id, :armor_name, :prompt => true)
    %>
  </div>

  <p>
  <b>Unspent Skill Points:</b>
  <%= @character.skill_points_available %>
  </p>
  <table>
  <%= f.fields_for(:character_skills) do |builder| %>
  <%= render 'skill_fields', :f => builder, :c => @character %>
  <% end %>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
