  <div class="field">
    <tr>
    <td><%= f.label :level, f.object.level %></td>
     <%= f.hidden_field :level %>
    <td><%= f.collection_select(:class_level_id, c.level_choices, :id, :name, :prompt => true) %>

    <% if f.object.level.modulo(4) == 0 %>
      <td>
        <%= f.select(:ability_increase, %w[none str dex con int wis dex] ) %>
      </td>
    <% else %>
      <td></td>
    <% end %>

    <% feat_number = 0 %>
    <%= f.fields_for(:character_level_feats) do |builder| %>
      <% feat_number = feat_number + 1 %>
      <td>
        <%= builder.collection_select(:feat_id, f.object.feats_allowed(feat_number), :id, :feat_name, :prompt => true) %>
      </td>
    <% end %>
    </tr>
  </div>
