
    <% @in_class = c.is_class_skill(f.object.skill_id) %>
    <tr>

    <td>
      <% if @in_class %><b><% end %>
      <%= f.label :ranks, f.object.skill.skill_name %>
      <% if @in_class %></b><% end %>
    </td>

    <td>
      <% if f.object.ranks == nil or f.object.ranks == 0 %>
        <%= f.text_field :ranks, :size => 3, :max_length => 2, :value => "" %>
      <% else %>
        <%= f.text_field :ranks, :size => 3, :max_length => 2 %>
      <% end %>
    </td>

    <td>
      <% if @in_class %>
        <b>/ <%= c.max_class_skill_rank %></b>
        <% else %>
           / <%= c.max_cross_class_skill_rank %>
        <% end %>
    </td>
    
    <%= f.hidden_field :skill_id %>
    </tr>
