<% @title=@character.name %>
<p>
<%= link_to 'Home', :root %> |
<%= link_to 'All Characters', characters_path %> |
<%= link_to 'Edit', edit_character_path(@page) %> |
<%= link_to 'Delete', @character, :confirm => 'Are you sure?', :method => :delete %>
</p>
<h1><%= @character.name %></h1>
<p><b><%= show_build(@character) %>, CR</b><%= @character.challenge_rating %></p>
<p>
<%= raw(@description) %>
</p>
<p><b>Reputation: </b><%= "%+d" % @character.reputation %></p>
<p><b>Speed: </b><%= @character.speed %></p>
<p><b>Initiative: </b><%= "%+d" % @character.initiative %></p>
<p><b>Hit Points: </b><%= @character.hit_points %></p>
<table>
<tr>
<th>str</th>
<th>dex</th>
<th>con</th>
<th>int</th>
<th>wis</th>
<th>cha</th>
</tr>
<tr>
<td><%= "%+d" % @character.str_mod %></td>
<td><%= "%+d" % @character.dex_mod %></td>
<td><%= "%+d" % @character.con_mod %></td>
<td><%= "%+d" % @character.int_mod %></td>
<td><%= "%+d" % @character.wis_mod %></td>
<td><%= "%+d" % @character.cha_mod %></td>
</tr>
<tr>
<td><%= @character.str %></td>
<td><%= @character.dex %></td>
<td><%= @character.con %></td>
<td><%= @character.int %></td>
<td><%= @character.wis %></td>
<td><%= @character.cha %></td>
</tr>
</table>
<p><b>Defence: </b><%= "%+d" % @character.defence %>,
<b>Touch: </b><%= "%+d" % @character.touch_defence %>
</p>
<table>
<tr><th>Save</th><th>Bonus</th></tr>
<tr><td>fortitude</td><td><%= "%+d" % @character.fort %></td></tr>
<tr><td>reflex</td><td><%= "%+d" % @character.ref %></td></tr>
<tr><td>wisdom</td><td><%= "%+d" % @character.wis %></td></tr>
</table>
<p><b>Base Attack Bonus: </b><%= "%+d" % @character.bab %>,
<b>Strength Check: </b><%= "%+d" % @character.strength_check %>,
<b>Grapple: </b><%= "%+d" % @character.grapple %>,
<b>Start Trip: </b><%= "%+d" % @character.start_trip %>,
<b>Defend Trip: </b><%= "%+d" % @character.defend_trip %>,
<b>Bull Rush: </b><%= "%+d" % @character.bull_rush %>,
<b>Melee Attack: </b><%= "%+d" % @character.melee_attack %>,
<b>Ranged Attack: </b><%= "%+d" % @character.ranged_attack %></p>

Trainer: <%= @character.character_skills.count %>
<table>
<tr>
<th>Skill Name</th>
<th>Bonus</th>
</tr>
<% Skill.each_except_languages do |skill| %>
<tr>
    <td><%= skill.skill_name %></td>
    <td><%= show_skill_bonus(@character.skill_bonus(skill.id)) %></td>
</tr>
<% end %>
</table>