This material is Open Game Content, and is licensed
for public use under the terms of the Open Game License v1.0a.
<h1><%= @modern_class.class_name %></h1>
<p>
<b>Key ability score:</b>
<%= @modern_class.primary_stat %>
</p>
<p>
<b>Hit Die: </b>
1d<%= @modern_class.hit_die %>
</p>
<p>
<b>Action Points: </b>
The <%= @modern_class.class_name %> gains a number of action points equal to 
<%= @modern_class.action_points %> + one-half their character level,
rounded down, at 1st level and every time they attain a new level in this class
</p>
<p>
<b>Class Skills: </b>
<%= @modern_class.skills.collect {|c| c.skill_name}.join(", ") %>
</p>
<p>
<b>Skill Points at 1st level: </b>
(<%= @modern_class.skill_points %> + Int modifier) x 4
</p>
<p>
<b>Skill Points at Each Additional Level: </b>
<%= @modern_class.skill_points %> + Int modifier
</p>
<table>
  <tr>
    <th>Class Level</th>
    <th>Base Attack Bonus</th>
    <th>Fort Save</th>
    <th>Ref Save</th>
    <th>Will Save</th>
    <th>Class Features</th>
    <th>Defence Bonus</th>
    <th>Reputation Bonus</th>
  </tr>
<% @modern_class.each_level do |level| %>
<tr>
    <td><%= level.level %></td>
    <td><%= "%+d" % level.bab %></td>
    <td><%= "%+d" % level.base_fort %></td>
    <td><%= "%+d" % level.base_ref %></td>
    <td><%= "%+d" % level.base_will %></td>
    <td></td>
    <td><%= "%+d" % level.defence_bonus %></td>
    <td><%= "%+d" % level.reputation_bonus %></td>  
</tr>
<% end %>
</table>
<p>
<%= link_to 'Back to Classes', modern_classes_path %>
</p>
